body {
    font-family: "Open Sans", "Roboto", "Calibri", "Arial", sans-serif;
    background: white;
}

p,
ul,
ol,
table {
    color: black;
}

p,
ul,
ol {
    text-align: justify;
}

h1,
h2,
h3,
h4, 
h5,
h6 {
    color: white;
    font-weight: 300
}

h1 {
    display: block;
    background: rgb(192, 0, 0);
    text-align: center;
    padding: .3em;
}

#pager {
    background: rgb(192, 0, 0);
}

h2 {
    display: block;
    background: #565656;
    color: white;
    padding: .2em .5em;
}

h3 {
    font-weight: bold;
    color: black;
    display: block;
    border-bottom: 2px solid rgb(192, 0, 0) !important;
}


h4,
h5,
h6 {
    font-weight: bold;
    color: black;
    display: block;
    margin: 1em 0
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

h1+p::first-letter {
    font-size: 2.5em;
    font-weight: bolder;
}

table {
    border: 1px solid #565656;
}

th {
    background: #dddddd;
}

tr.even {
    background: #eeeeee;
}

blockquote {
    border-left: 5px solid #5f91f4;
    background: #dbe7ff;
    padding-left: 1em;
    margin: 0 0;
}

p code {
    padding: .6em .5em .4em .5em;
    line-height: 1em;
}

pre,
code {
    background: #232323;
    color: #E8E8E8;
}

pre {
    padding: 1em;
    max-width: 100%;
}
