body {
    font-family: "Open Sans";
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Light";
}

h1 {
    display: block;
    background: rgb(192, 0, 0);
    color: white;
    text-align: center;
    padding: .3em;
}

#pager {
    background: rgb(192, 0, 0);
}

h2 {
    display: block;
    background: #565656;
    color: white;
    padding: .2em .5em;
}

h3 {
    font-family: 'Open Sans';
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}
