body {
    font-family: "Open Sans", "Calibri", "Arial", sans-serif;
    background: white;
}

p,
ul,
ol,
table {
    color: black;
}

p,
ul,
ol {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans Light", "Calibri Light", "Arial", sans-serif;
    color: white;
}

h1 {
    display: block;
    background: rgb(192, 0, 0);
    text-align: center;
    padding: .3em;
}

#pager {
    background: rgb(192, 0, 0);
}

h2 {
    display: block;
    background: #565656;
    color: white;
    padding: .2em .5em;
}

h3,
h4,
h5,
h6 {
    font-family: "Open Sans";
    font-weight: bold;
    color: black;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

h1+p::first-letter {
    font-size: 2.5em;
    font-weight: bolder;
}

table {
    border: 1px solid #565656;
}

blockquote {
    border-left: 5px solid #5f91f4;
    background: #dbe7ff;
    padding-left: 1em;
    margin: 0 0;
}
